{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Students</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                           <li class="breadcrumb-item active">Students</li>
                        </ul>
                     </div>
                    {% if messages %}
           {% for message in messages %}
              {% if  message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong> {{message}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif  %}
           {% endfor %}
        {% endif  %}
{% if messages %}
           {% for message in messages %}
              {% if  message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong> {{message}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif  %}
           {% endfor %}
        {% endif  %}
{% if messages %}
           {% for message in messages %}
              {% if  message.tags == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong> {{message}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif  %}
           {% endfor %}
        {% endif  %}
{% if messages %}
           {% for message in messages %}
              {% if  message.tags == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong> {{message}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif  %}
           {% endfor %}
        {% endif  %}
                     <div class="col-auto text-right float-right ml-auto">
                        <a href="#" onclick="exportToExcel('tblexportData')" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                          <script type="text/javascript">

                            var today= new Date().toLocaleString('en-US', { timeZone: 'UTC' });

                            function exportToExcel(tableID, filename = 'shikshalaya_computer_student_Data_'+ today){
                                var downloadurl;
                                var dataFileType = 'application/vnd.ms-excel';
                                var tableSelect = document.getElementById(tableID);
                                var tableHTMLData = tableSelect.outerHTML.replace(/ /g, '%20');

                                // Specify file name
                                filename = filename?filename+'.xls':'export_excel_data.xls';

                                // Create download link element
                                downloadurl = document.createElement("a");

                                document.body.appendChild(downloadurl);

                                if(navigator.msSaveOrOpenBlob){
                                    var blob = new Blob(['\ufeff', tableHTMLData], {
                                        type: dataFileType
                                    });
                                    navigator.msSaveOrOpenBlob( blob, filename);
                                }else{
                                    // Create a link to the file
                                    downloadurl.href = 'data:' + dataFileType + ', ' + tableHTMLData;

                                    // Setting the file name
                                    downloadurl.download = filename;

                                    //triggering the function
                                    downloadurl.click();
                                }
                            }

                            </script>
                        <a href="{% url 'add_computer_student' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table  id="tblexportData" class="table table-hover table-center mb-0 ">
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>Admission Number</th>
                                       <th>Name</th>

                                       <th>Fees:Month</th>



                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for i in student %}
                                    <tr>
                                       <td>{{i.id}}</td>
                                       <td>{{i.admission_number}}</td>

                                       <td>
                                          <h2 class="table-avatar">
                                             <a href="{% url 'detail_computer_student' i.id %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{i.admin.profile_pic}}" alt="User Image"></a>
                                             <a href="{% url 'detail_computer_student' i.id %}">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</a>
                                          </h2>
                                       </td>
                                    {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'January' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>

                                        {% endif %}
                                        {% endfor %}
                                       {% for r in monthly_Fees %}
                                            {% if i.id == r.Student_id and r.month == 'Faberuary' %}
                                                <td>{{r.month_fees}}:{{ r.month }}</td>

                                        {% endif %}
                                        {% endfor %}
                                       {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'March' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}
                                       {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'April' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}
                                      {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'May' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}
                                       {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'June' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}
                                       {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'July' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}
                                       {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'August' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}
                                       {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'September' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}
                                        {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'October' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}
                                        {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'November' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}
                                        {% for r in monthly_Fees %}
                                        {% if i.id == r.Student_id and r.month == 'December' %}
                                       <td>{{r.month_fees}}:{{ r.month }}</td>
                                        {% endif %}
                                        {% endfor %}


                                    </tr>
                                 {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

{% endblock %}